
//font size
$font-size-desktop: 14px;
$font-size-tablet: 13px;
$font-size-phone: 12px;

// colors
$pure-white: #FFFFFF;
$color-site-bgrd: #DFE0E4;
$color-base-font-black: #333333;
$color-base-font-grey: #919AA1;
$color-border-grey: #e5e5e5;

