
//font size
$font-size-large-desktop: 17px;
$font-size-desktop: 16px;
$font-size-tablet: 15px;
$font-size-phone: 14px;

// colors
$pure-white: #FFFFFF;
$color-site-bgrd: #DFE0E4;
$color-base-font-black: #333333;
$color-base-font-grey: #919AA1;
$color-border-grey: #e5e5e5;

