#new-nav {
    background-color: #3ca861;
}

h3 {
    padding-top: 110px;
}

.top {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ----------------------------- */
.fixed-nav {
    background: #fff;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: -100px;
    left: 0;
    width: 102%;
    transition: transform .5s;
    transform: translateY(100px)
}
/* ----------------------------- */

.main {
    margin-right: 15px;
}

.left-margin-15 {
    margin-left: 15px;
}

@media (min-width: 1000px) {
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .navbar-nav > li {
        display: inline-block;
        float: none;
    }
}


.download {
    font-size: 14px;
}

.image-cropper {
    width: 420px;
    height: 420px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
    display: inline;
    margin: 0 auto;
    margin-left: -10%;
    height: auto;
    width: auto;
}