#avatar {
    cursor: pointer;
}

#first-col {
    padding: 0px;
}

#nav {
    padding-left: 0px;
    padding-right: 0px;
    border-left: none;
    border-right: none;
}

#top {
    width: 103%;
}

.delimiter {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 205px;

    width: 100%;
    background-color: #ffffff;
    background-image: url("./images/binary.png");
    background-repeat: repeat;
}

.obj {
    font-weight: bold;
    text-transform: lowercase;
    color: #000;
}

/* ----------------------------- */
.fixed-nav {
    background: #fff;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: -100px;
    left: 0;
    width: 103%;
    transition: transform .5s;
    transform: translateY(100px)
}

/* ----------------------------- */

.main {
    margin-right: 15px;
}

.left-margin-15 {
    margin-left: 15px;
}


@media (min-width: 1000px) {
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .navbar-nav > li {
        display: inline-block;
        float: none;
    }
}


.download {
    font-size: 14px;
}

.image-cropper {
    width: 420px;
    height: 420px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.pic {
    display: inline;
    height: auto;
    width: auto;
}

.array {
    font-size: 20px;
}

.let {
    text-transform: lowercase;
}