{{> header}}
<div class="container array">
    <div class="row jobs-list">
        <div class="col text-center">
            <h2>Experience</h2>
            <br>
            <br>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 xp-info" style="margin-bottom: 10px">
                    <a href="https://neterra.net" target="_blank">
                        <img class="enlarge-B" src="./images/Neterra-log.png" data-alt-src="./images/color-Neterra-log.png">
                    </a>
                    <p class="job-title">Junior Front-End Developer</p>
                    <p class="years">2019 - Present</p>
                </div>
                <div class="col-2"></div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 xp-info" style="margin-bottom: 10px">
                    <a href="https://www.walltopia.com" target="_blank">
                        <img class="enlarge-B" src="./images/Wall-log.png" data-alt-src="./images/color-Wall-log.png">
                    </a>
                    <p class="job-title">Engineer / Project Manager</p>
                    <p class="years">2014 - 2019</p>
                </div>
                <div class="col-2"></div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 xp-info" style="margin-bottom: 10px">
                    <a href="https://parcel.dhl.co.uk" target="_blank">
                        <img class="enlarge-B" src="./images/dhl-log.png" data-alt-src="./images/color-dhl-log.png">
                    </a>
                    <p class="job-title">Warehouse Organizer</p>
                    <p class="years">2013 - 2014</p>
                </div>
                <div class="col-2"></div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 xp-info" style="margin-bottom: 10px">
                    <a href="https://www.ikea.com" target="_blank">
                        <img class="enlarge-B" src="./images/ikea-log.png" data-alt-src="./images/color-ikea-log.png">
                    </a>
                    <p class="job-title">Kitchen design</p>
                    <p class="years">2012 - 2013</p>
                </div>
                <div class="col-2"></div>
            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 xp-info" style="margin-bottom: 10px">
                    <img class="enlarge-B" src="./images/sug-log.png" data-alt-src="./images/color-sug-log.png" onclick="window.location.href='#'">
                    <p class="job-title">Founder / Designer</p>
                    <p class="years">2009 - 2012</p>
                </div>
                <div class="col-2"></div>
            </div>

        </div>
    </div>
</div>
<script>changeImg()</script>
{{> footer}}