{{> header}}
<div class="container education">
    <div class="row">
        <div class="col text-center">
            <h2>Education</h2>
            <br>
                <img src="./images/Softuni.png" style="width: 170px; margin-right: 10px">
                    <button id="showCertificates" type="button" class="btn btn-outline-primary btn-sm">Show certificates
                    </button>
            <br>
            <br>
            <br>
            <div id="certificates">
                {{#each certificates}}
                    {{> certificate}}
                {{/each}}
                <script>showCertificates()</script>
            </div>
        </div>
    </div>
</div>
{{> footer}}