{{> header}}

<div class="container array">
    <div class="row">
        <div class="col text-center">
            <h2 style="margin-bottom: 20px">Contacts</h2>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-3 text-center">
            <img class="contact-icons" src="./images/letter.png">
        </div>
        <div class="col-4 text-center">
            <img class="contact-icons" src="./images/place-marker.png">
        </div>
        <div class="col-3 text-center">
            <img class="contact-icons" src="./images/smartphone.png">
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-3 text-center">
            <h5>E-mail:</h5>
            <img src="./images/cont.png" style="width: 173px">
        </div>
        <div class="col-4 text-center">
            <h5>Address:</h5>
            <p>1618 Sofia, Bulgaria</p>
            <br>
            <hr>
        </div>
        <div class="col-3 text-center">
            <h5>Phone:</h5>
            <p>(+359) 0888 199 889</p>
        </div>
        <div class="col-1"></div>
    </div>
    <br>
    <div class="row" style="margin-top: 10px">
        <div class="col text-center">
            <a href="https://www.linkedin.com/in/aleksandar-hristov-812340122/" target="_blank" style="text-decoration: none">
                <img class="icons" src="./images/linkedin-icon2.png">
            </a>
            <a href="https://github.com/AChristoff" target="_blank" style="text-decoration: none">
                <img class="icons" src="./images/github-icon2.png">
            </a>
        </div>
    </div>
</div>

{{> footer}}