{{> header}}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="container array">
    <div class="row">
        <div class="col-3"></div>

        <div class="col-6">
            <h2 style="margin-bottom: 20px; text-align: center">Message</h2>
            <br>
            <form id="jquery_form">

                <div class="form-group">
                    <label for="inputEmail">Email *</label>
                    <input type="text" name="subject" class="form-control" id="inputEmail">
                </div>

                <div class="form-group">
                    <label for="inputMessage">Message *</label>
                    <textarea name="text" class="form-control" id="inputMessage" rows="7"></textarea>
                </div>
                <!--<div style="margin-top: 35px" class="g-recaptcha" data-sitekey="6Lc6MqIUAAAAAPMkwoDPvX1s_3JTXoYnbMWUDFS0"></div>-->
                <div style="text-align: center; margin: 35px">
                    <button id="sendBtn" name="send" type="submit" class="btn btn-outline-primary">Send</button>
                </div>

            </form>
            <script>emailValidation()</script>

            <script>
                //update this with your $form selector
                let form_id = "jquery_form";

                let data = {
                    "access_token": "3411qt7urq6e5wr7h69w3r1l"
                };

                function onSuccess() {
                    // remove this to avoid redirect
                    window.location = window.location.pathname + "#/contacts";
                    notify.showSuccess('The message was send successfully!')
                }

                function onError(error) {
                    return;
                }

                let sendButton = $("#" + form_id + " [name='send']");

                function send() {

                    let subject = $("#" + form_id + " [name='subject']").val();
                    let message = $("#" + form_id + " [name='text']").val();
                    data['subject'] = subject;
                    data['text'] = message;

                    $.post('https://postmail.invotes.com/send',
                            data,
                            onSuccess
                    ).fail(onError);

                    return false;
                }

                sendButton.on('click', send);

                let $form = $("#" + form_id);
                $form.submit(function( event ) {
                    event.preventDefault();
                });
            </script>

        </div>

    </div>
</div>

{{> footer}}