{{> header}}
<div class="container array">
    <div class="row">
        <div class="col text-center">
            <h2>Education</h2>
            <br>
            <br>
            {{# each educations}}
                {{> education}}
            {{/each}}
        </div>

    </div>
</div>
<script>changeImg()</script>
{{> footer}}