{{> header}}
<div class="container array">
    <div class="row">
        <div class="col text-center">
            <h2>Software University</h2>
            <h6 style="margin-bottom: 20px">2 years</h6>
            <br>
            <div id="certificates">
                {{#each certificates}}
                    {{#if ltu}}
                    {{else}}
                    {{> certificate}}
                        {{/if}}
                {{/each}}
            </div>
            <button style="margin-bottom: 80px" type="button" class="btn btn-outline-primary btn-sm" onclick="window.location.href='#/education'" >Back to Education</button>
        </div>
    </div>
</div>
{{> footer}}