{{> header}}
<div class="container array">
    <div class="row">
        <div class="col text-center">
            <h2>Software University</h2>
            <h6 style="margin-bottom: 20px">2 years</h6>
            <br>
            <div id="certificates">
                {{#each certificates}}
                    {{#if ltu}}
                    {{else}}
                    {{> certificate}}
                        {{/if}}
                {{/each}}
            </div>
           <a href="#/education"><i class="fas fa-undo-alt"></i></a>
        </div>
    </div>
</div>
{{> footer}}