{{> header}}
<div class="container array">
    <div class="row" style="margin-top: -10px">
        <div class="col home" style="text-align: center; margin-top: 0px">
            <h6>HELLO, I AM</h6>
            <h1>ALEKSANDAR HRISTOV</h1>
            <div style="text-align: center">
                <hr>
                <p>Designer / Junior Front-End Developer</p>
                <hr>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col" style="text-align: center">
            <img id="avatar" src="images/Avatar.png" align="center">
        </div>
    </div>
    <div class="row">
        <div class="col" style="margin-top: 10px">
            <h6 style="text-align:center; color:#b7b7b7">View my portfolio <a style="color: #1A1A1A" href="#/portfolio">here</a></h6>
        </div>
    </div>
</div>
{{> footer}}