{{> header}}
<div class="container array">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Portfolio</h2>
            <br>
            <p>Latest Works</p>

            <div class="projects">

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img id="cover" src="./images/casita-logo.png" alt="casita">
                        </div>
                        <div class="flip-card-back">
                            <h4 style="margin-top: 20px; color: white;">Business Website</h4>
                            <p style="height: 85px; padding: 20px; vertical-align: baseline;">Vue.js & Sass</p>
                            <button id="view" type="button" class="btn btn-outline-primary btn-sm"
                                    onclick="window.open('https://casita-bg.com/')">View project
                            </button>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img id="cover" src="./images/mern.png" alt="MERN">
                        </div>
                        <div class="flip-card-back">
                            <h4 style="margin-top: 20px; color: white;">Fullstack JavaScript</h4>
                            <p style="height: 85px; padding: 20px; vertical-align: baseline;">ReactJS, MongoDB, NodeJS, Express</p>
                            <button id="view" type="button" class="btn btn-outline-primary btn-sm"
                                    onclick="window.open('https://prodavalnik.aleksov.work/')">View project
                            </button>
                            <button id="view" type="button" class="btn btn-outline-primary btn-sm"
                                    onclick="window.open('https://github.com/AChristoff/prodavalnik/')">Repo
                            </button>
                            <button id="view" type="button" class="btn btn-outline-primary btn-sm"
                                    onclick="window.open('https://prodavalnik-api.aleksov.work/api/docs/')">API
                            </button>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img id="cover" src="./images/nete-logo.png" alt="landing-page">
                        </div>
                        <div class="flip-card-back">
                            <h4 style="margin-top: 20px; color: white;">NETERRA Landing page</h4>
                            <p style="height: 85px; padding: 20px; vertical-align: baseline;">JavaScript, HTML, CSS</p>
                            <button id="view" type="button" class="btn btn-outline-primary btn-sm"
                                    onclick="window.open('https://neterra.net/business-services/')">View project
                            </button>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img id="cover" src="./images/wordpress.png" alt="wordpress">
                        </div>
                        <div class="flip-card-back">
                            <h4 style="margin-top: 20px; color: white;">WP Custom theme</h4>
                            <p style="height: 85px; padding: 20px; vertical-align: baseline;">Wordpress, PHP, Sass</p>
                            <button id="view" type="button" class="btn btn-outline-primary btn-sm"
                                    onclick="window.open('http://custom-wp-theme.fast-page.org/')">View project
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img id="cover" src="./images/ecta-logo.png" alt="landing-page-ecta">
                        </div>
                        <div class="flip-card-back">
                            <h4 style="margin-top: 20px; color: white;">ECTA 2020 landing page</h4>
                            <p style="height: 85px; padding: 20px; vertical-align: baseline;">JavaScript, HTML, CSS</p>
                            <button id="view" type="button" class="btn btn-outline-primary btn-sm"
                                    onclick="window.open('https://www.ectacountryfocus.eu/')">View project
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</div>
{{> footer}}