<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="{{cover}}" alt="Avatar" style="width:320px;height:230px;">
        </div>
        <div class="flip-card-back" onclick="window.open('{{link}}')">
            <h4 style="margin-top: 20px; color: white;">{{repo}}</h4>
            <p style="height: 90px; padding: 20px; vertical-align: baseline;">{{description}}</p>
            <br>
            <img src="./images/open-white.png" style="width:30px;">
        </div>
    </div>
</div>

