{{> header}}
<div class="container array">
    <div class="row">
        <div class="col">
            <h4 style="text-align:center; color:#b7b7b7" >Hi there,<br><br>to see this page<br>you need to <a style="color: #1A1A1A" href="#/login">login</a><br><br>Thanks!
            </h4>
        </div>
    </div>
</div>
{{> footer}}