@media (min-width: 1px) {

  .portfolio {
    text-align: center;

    .page-title {
      margin-bottom: 2em;
    }
  }

  .card-list {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .card-list {

    justify-content: space-evenly;

    &:before,
    &:after {
      display: block;
      content: '';
      flex: 0 1 45%;
      order: 1000;
    }
  }
}