
#notifications {
    position: fixed;

}

.notification {
    font-size: 1.35em;
    color: #ffffff;
    display: none;
    text-align: right;
}

.notification > span {
    position: fixed;
    top: 52px;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

#loadingBox > span {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    border: solid #E5E5E5 1px;
    background: white;
    color: #1A1A1A;
}

#infoBox > span {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    border: solid #E5E5E5 1px;
    background: white;
    color: #41cc6e;
}

#errorBox > span {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    border: solid #E5E5E5 1px;
    background: white;
    color: #F50;
}