body {
    background-color: #ccc;
}

footer {
    border-top: solid #E5E5E5 1px;
    position: relative;
    bottom: 0;
    margin-top: -37px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    padding: 10px;
    clear: both;
    font-weight: bold;
    background: white;
}

div#root {
    min-height: 100%;
}

.align-right {
    float: right;
}

#aleks {
    padding-top: 7px;
}

.array {
    margin-top: -91px;
    min-height: 100vh;
    padding-top: 160px;
}

#nav {
    padding-left: 0px;
    padding-right: 0px;
    border-left: none;
    border-right: none;
}


#first-col-left, #first-col-right {
    padding: 0px;
}

.nav-no-link {
    display: block;
    cursor: default;
}

.nav-no-link:hover {
    cursor: default;
}

.welcome {
    padding-right: 8px;
}

.column {
    margin-top: 0.95em;
}

.const {
    margin-top: 0.95em;
    padding-right: 5px;
}

.let {
    text-transform: none;
}

.const {
    padding-inline: 0px;
}


.space {
    width: 50px;
}

/* ------------------------------------ */

/*Certificates styles*/
div#certificates, div#projects {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
}

div#certificate, div#project {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 30%;
}

.cert {
    width: 250px;
}

.cert-details {
    width: 70%;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 20px;
    background: white;
}

div#certificate-details {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.enlarge {
    transition: transform 0.25s ease;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 20px;
    background: white;
}

.enlarge:hover {
    -webkit-transform: scale(1.5); /* or some other value */
    transform: scale(1.5);
    box-shadow: 0 0 2px 1px rgba(183, 183, 183, 0.5);
}

.verify {
    margin-bottom: 40px;
    font-size: 15px;
}

.contact-icons {
    margin-bottom: 20px;
}

#nav {
    padding-left: 0px;
    padding-right: 0px;
    border-left: none;
    border-right: none;
}

.fixed-nav {
    z-index: 1000;
    background: #fff;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    transition: transform .5s;
    transform: translateY(100px)
}

.icons {
    background-color: white;
    text-decoration: none;
    width: 40px;
    margin: 5px;
}

.showInfo:hover {
    cursor: pointer;
}

.job {
    color: #919AA1;
}

.job:hover {
    color: #1A1A1A;
}

.dims {
    width: 320px;
    margin: 0px;
}



/*  ------------------------  */

.flip-card {
    background-color: transparent;
    width: 320px;
    height: 230px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    cursor: pointer;
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
    z-index: 2;
}

.flip-card-back {
    z-index: 10;
    background-color: #1A1A1A;
    color: white;
    transform: rotateY(180deg);
}

